.v-data-table {
	.v-table {
		color: #fff;
		width: 100%;

		thead {
			th {
				font-weight: 500;
				background: #00634F;
				padding: 1.6rem;
				
			}
			th:nth-child(n + 4) {
				text-align: right;
			}
			.v-checkbox {
				vertical-align: middle;
			}
		}

		tbody {
			color: #0B0C0C;
			.first-child {
				font-weight: 700;
				text-decoration: underline;
				font-size: 1.6rem;
				color: #26A0F6;
			}
			tr {
				vertical-align: middle;
			}
			tr:nth-child(even) {
				background-color: #FAFAFA;
			}
			td:last-child {
				text-align: center;
			}
			td:nth-child(n + 4) {
				text-align: right;
			}
			td {
				padding: 3.2rem 1.6rem;
				font-style: normal;
				font-weight: 400;
				font-size: 1.6rem;
				line-height: 2.4rem;
				border-width: 0px 1px 1px 1px;
				border-style: solid;
				border-color: #E5E5E5;
			}

		}
	}
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
	font-size: 1.3rem !important;
	height: 48px;
}

.table--fixed-layout {
	table-layout: fixed !important;
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.v-data-table {
		.v-table { 
			thead {
				display: none;
			}
			tr {
				display: block;
				margin-bottom: 1rem;
				border: 1px solid #ddd;
			}
			tbody {
				display: block;
				td[data-label] {
					display: grid;
					justify-content: space-between;
					align-items: center;
					text-align: right;
					grid-template-columns: 1fr 1fr;
					grid-gap: 3rem;
					border: none;
					padding: 1.6rem;
					border-top: none;
					&:before {
						content: attr(data-label);
						font-weight: 700;
						color: #0B0C0C;
						font-size: 1.6rem;
						text-align: left;
					}
				}
			}
		}
	}
}