.panel--landlord {

	.panel__top {
		h3 {
			font-size: 2rem;
			color: var(--color-primary);
			font-weight: 700;
		}
	}

	@media screen and (max-width: 1279px) {
		.panel__top {
			h3 {
				font-size: 1.6rem;
			}
		}

	}
}
