#__layout {
    .v-application {
        .row{
            margin: -0.6rem;
        }
        .col,
        [class*="col-"] {
            padding: 0.6rem;
        }
    }

}
.v-input--checkbox {
    .v-label {
        color: #000000 !important;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem !important;
    }
}
