.widget {
	position: relative;
}

.widget--footer {
	.widget__title {
		font-family: var(--font-second);
		font-weight: 700;
		color: var(--color-white);
		font-size: 2rem;
	}
}

.widget--links {
	.widget__container {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: .8rem;

		a {
			font-family: var(--font-primary);
			font-size: 1.6rem;
			color: var(--color-white);
			font-weight: 500;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	@media screen and (max-width: 479px) {
		.widget__container {
			a {
				font-size: 1.4rem;
			}
		}
	}
}

.widget--sharing {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: self-end;
	.widget__container {
		display: flex;
		justify-content: center;
		gap: 2.2rem;
	}
	.widget__top {
		padding-top: 0.4rem;
		.widget__title {
			margin-bottom: 2.5vh;
		}
	}
	@media screen and (max-width: 767px){
		justify-self: flex-start;
		.widget__container {
			justify-content: flex-start;
		}
	}
}

.widget--about {
	display: grid;
	grid-template-rows: minmax(0, 1fr);
	grid-gap: 2.4rem;
	p {
		margin-bottom: 0;
		font-size: 1.6rem;
		font-weight: 400;
		color: var(--color-white);
		line-height: 1.4em;
	}
}
