.page__wrapper {
    margin: 4.8rem 0 8.8rem;

    ol {
        counter-reset: title;
        list-style-type: none;
        padding-left: 0 !important;
        > li {
            margin-bottom: 2.4rem;
            &::before {
                font-size: 2rem;
                font-weight: 800;
                line-height: 2.8rem;
                color: var(--color-menu);
                counter-increment: title;
                content: counters(title, ".") ". ";
            }
            h4,
            h5 {
                font-weight: 800;
                font-size: 2rem;
                line-height: 2.8rem;
                color: var(--color-menu);
                display: inline-block;
            }
            h4 {
                margin-bottom: 1.6rem;
            }
            h5 {
                margin-bottom: 2.4rem;
            }

            ul {
                padding-left: 6.5rem;
                margin-bottom: 2.4rem;
                list-style-type: disc !important;
            }
            ul li {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: var(--color-title-black);
            }
            p {
                margin-bottom: 2.4rem !important;
            }
        }
    }
    ol > li {
        ol li {
            padding: 0;
            padding-left: 5rem;
            position: relative;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: var(--color-title-black);
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: var(--color-title-black);
                display: inline;
                margin-right: 2.6rem;
            }
            p {
                margin-bottom: 2.4rem;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: var(--color-title-black);
                display: inline;
            }
            ul {
                padding-left: 2rem;
                margin-bottom: 0;
                margin-top: 1.2rem;
                list-style-type: disc;
                margin-bottom: 2.4rem;
            }
        }
        ol li ul li {
            padding-left: 0;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: var(--color-title-black);
        }
    }
    div {
        h4 {
            font-weight: 800;
            font-size: 2rem;
            line-height: 2.8rem;
            color: var(--color-menu);
            margin-bottom: 1.6rem;
        }
    }
    hr {
        margin: 3.2rem 0;
    }
    p {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--color-title-black);
        margin-bottom: 2.4rem;
    }
    strong {
        font-weight: bold;
        font-size: 1.6rem;
        color: var(--color-black);
    }
    a {
        font-weight: 700;
        font-size: 1.6rem;
        color: var(--color-menu);
    }
}
